.interest_container{
    
    
}
.search_interest_box{
   
    width:30%;
}
.searc_interest{
    
    margin:40px;
    padding-left:30%;
    
}
.interest_list_container{ 
    margin-left:40px;
    margin-right:40px;
}
.interest{
    
    padding:10px;
    margin-bottom: 10px;
}
.single_interest_container{
    display:flex;
   border:2px solid midnightblue;
    justify-content: space-between;
    box-shadow: 2px black;
}
.interest_name{
    text-transform:uppercase;
    
    color: #7579ff;
}
.interest_description{
    

}
.interest_follow_button{

margin-top:10%;
}
.interest_viewProfile_button{
    
}
.interest_button_container{
    
    margin:10px;
    width:20%;
    margin-right:10%;
}
.interest_intro_container{
    margin:10px 10px 10px 10px;
    
    width:60%;   
}
#vibutton{
    width:100%;
}