h1{
  font: 50px;
}

.links{
  font-family: 'Montserrat', sans-serif;
  padding: 1%;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
	height: 200px;
  background: -webkit-linear-gradient(right, #7579ff, #b224ef);
  padding-top: 1%;


  }
.links:hover {
background:-webkit-linear-gradient(right, #b224ef, #7579ff);

}
.header
{
padding-top:2vh;
padding-bottom: 3vh;
}
#logo
{
padding-top: 1vh;
	width: 200px;
	height: 70px;

}
.logo_div
{


}
