.header{
    
    display:flex;
    justify-content: space-between;
    background:-webkit-linear-gradient(top, grey, #7579ff);
}
.header_home{
    
    margin:10px;
    margin:10px 10px 10px 10%;
    
    
}
.header_profile{
   
    margin:10px 10% 10px 10px;
    
}